<div class="panel-heading">
  <div class="search">
      <input type="text" placeholder="Поиск">
  </div>
  <a href>
      <div class="sr-only">Добавить новую книгу</div>
  </a>

  {{!-- <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p> --}}
  
</div>

<div class="panel-content">
<h3 class="panel-title">Книги</h3>
    {{!-- {{#each model as |books|}}
    <article class="listing">
        <h3>Книги</h3>
        <div class="detail owner">
        <span>Название:</span> {{books.title}}
        </div>
        <div class="detail type">
        <span>Автор:</span> {{books.author}}
        </div>
        <div class="detail location">
        <span>Кол-во страниц:</span> {{books.pages}}
        </div>
        <div class="detail bedrooms">
        <span>Обложка:</span> {{books.photo}}
        </div>
        <div class="detail bedrooms">
        <span>Ссылка:</span> {{books.link}}
        </div>
    </article>
    {{/each}} --}}
    <ul class="collection">
        {{#each model as |book|}}
        <li>
            <a href>
               {{book.photo}} <li> <strong>Название:</strong> {{book.title}} <strong>Автор:</strong> {{book.author}}</li> <li>Кол-во страниц: {{book.pages}}</li> <li>Где купить: {{book.link}}</li>
            </a>
        </li>
        {{/each}}
    </ul>
</div>